language: php
matrix:
  include:
    - php: 7.1
      env: DEPENDENCIES=lowest
    - php: 7.1
      env: DEPENDENCIES=highest
    - php: 7.2
      env: DEPENDENCIES=lowest
    - php: 7.2
      env: DEPENDENCIES=highest
cache:
  directories:
    - $HOME/.composer/cache
before_script:
  - composer self-update
  - if [ "${DEPENDENCIES}" = "lowest" ]; then composer update --prefer-lowest --prefer-dist --no-interaction --no-progress; fi;
  - if [ "${DEPENDENCIES}" = "highest" ]; then composer update --prefer-dist --no-interaction --no-progress; fi;
script:
  - bin/phing
after_script:
  - if [ "${TRAVIS_ALLOW_FAILURE}" = false ]; then wget https://github.com/satooshi/php-coveralls/releases/download/v1.0.0/coveralls.phar && php coveralls.phar --verbose --config build/coveralls.yml; fi
notifications:
  email: false
