<?xml version="1.0"?>
<phpunit
	bootstrap="bootstrap.php"
	colors="true"
	backupGlobals="false"
	backupStaticAttributes="false"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutTodoAnnotatedTests="true"
>
	<logging>
		<log
			type="coverage-html"
			target="../build/log/coverage/html"
		/>
		<log type="coverage-clover" target="../build/log/coverage/clover.xml"/>
		<log
			type="coverage-text"
			target="php://stdout"
			showUncoveredFiles="true"
			showOnlySummary="true"
		/>
	</logging>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../SlevomatCodingStandard</directory>
		</whitelist>
	</filter>
</phpunit>
