# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Build"

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  lint:
    name: "Lint"

    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        php-version:
          - "7.1"
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"

      - name: "Cache dependencies"
        uses: "actions/cache@v2"
        with:
          path: "~/.composer/cache"
          key: "php-${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}"
          restore-keys: "php-${{ matrix.php-version }}-composer-"

      - name: "Reset composer platform"
        if: matrix.php-version == '7.1' || matrix.php-version == '7.2'
        run: "composer config --unset platform"

      - name: "Install dependencies"
        run: "composer update --prefer-dist --no-interaction --no-progress"

      - name: "Lint"
        run: "bin/phing lint"

  coding-standards:
    name: "Coding standards"

    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.0"

      - name: "Cache dependencies"
        uses: "actions/cache@v2"
        with:
          path: "~/.composer/cache"
          key: "php-8.0-composer-${{ hashFiles('**/composer.json') }}"
          restore-keys: "php-8.0-composer-"

      - name: "Install dependencies"
        run: "composer update --prefer-dist --no-interaction --no-progress"

      - name: "Lint"
        run: "bin/phing lint"

      - name: "Coding Standard"
        run: "bin/phing cs"

  static-analysis:
    name: "Static analysis"

    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.0"

      - name: "Cache dependencies"
        uses: "actions/cache@v2"
        with:
          path: "~/.composer/cache"
          key: "php-8.0-composer-${{ hashFiles('**/composer.json') }}"
          restore-keys: "php-8.0-composer-"

      - name: "Install dependencies"
        run: "composer update --prefer-dist --no-interaction --no-progress"

      - name: "PHPStan"
        run: "bin/phing phpstan"

  tests:
    name: "Tests"

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        dependencies: ["lowest", "highest"]
        php-version:
          - "7.1"
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
        operating-system: ["ubuntu-latest", "windows-latest"]

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          extensions: mbstring

      - name: "Cache dependencies"
        uses: "actions/cache@v2"
        with:
          path: "~/.composer/cache"
          key: "php-${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.json') }}"
          restore-keys: "php-${{ matrix.php-version }}-composer-"

      - name: "Reset composer platform"
        if: matrix.php-version == '7.1' || matrix.php-version == '7.2'
        run: "composer config --unset platform"

      - name: "Install lowest dependencies"
        if: ${{ matrix.dependencies == 'lowest' }}
        run: "composer update --prefer-lowest --prefer-dist --no-interaction --no-progress"

      - name: "Install highest dependencies"
        if: ${{ matrix.dependencies == 'highest' }}
        run: "composer update --prefer-dist --no-interaction --no-progress"

      - name: "Tests"
        run: "bin/phing tests-without-code-coverage"

  upload-code-coverage:
    name: "Upload code coverage"

    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "pcov"
          php-version: "8.0"
          tools: pecl

      - name: "Cache dependencies"
        uses: "actions/cache@v2"
        with:
          path: "~/.composer/cache"
          key: "php-8.0-composer-${{ hashFiles('**/composer.json') }}"
          restore-keys: "php-8.0-composer-"

      - name: "Install dependencies"
        run: "composer update --prefer-dist --no-interaction --no-progress"

      - name: "Tests"
        run: bin/phing tests

      - name: "Upload to Codecov.io"
        uses: codecov/codecov-action@v1
        with:
          token: "${{ secrets.CODECOV }}"
          files: temp/coverage.xml
          flags: unittests
          fail_ci_if_error: true
